@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  	--colorone: #30cfd0;
	--colortwo: #330867;
}

body
{
	font-family: 'Quicksand', sans-serif !important;
	margin: 0;
}

*
{
	box-sizing: border-box;
	scroll-behavior: smooth;
}

.App
{
	
	padding: 0;
	display: flex; /* Atur flex */
	/*min-height: 100vh;*/ /* atur minimal tinggi */
	flex-direction: column; /* set jadi kolom */
}

a
{
	text-decoration: none !important;
}

li
{
	list-style: none;
}

.active {
	display: inline-block !important;
}

.locked {
	overflow: hidden;
}

.anim-0-0-17 {
    animation-name: keyframes-anim-0-0-18;
    transform-origin: center center;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#btn-color-scheme-changer {
	border: none;
	background: var(--colorone);
	position: fixed;
	right: 13px;
	bottom: 10px;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	font-size: 25px;
	z-index: 9;
	transition: all 250ms ease-in-out;
	transform: scale(1);
}

#btn-color-scheme-changer:active {
	transform: scale(1.1);
	transition: all 100ms ease-in-out;
}

@keyframes popUpAnim {
    0% { opacity:0; transform:scale(0); }
    15% { opacity:.9; transform:scale(1.5); }
    30% { transform:scale(.95); }
    45%,80% { opacity:.9; transform:scale(1); }
}

.close {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.close:hover::before, .close:hover::after {
  background: var(--colorone);
}

.close::before, .close::after {
  	content: "";
	height: 2px;
	width: 80%;
	top: 50%;
	left: 0;
	margin-top: -1px;
	background: #000;
	position: absolute;
}
.close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.close.blades::before, .close.blades::after {
  border-radius: 5px 0;
}

#background-body {
	position: fixed;
	top: 0;
	z-index: -1;
	height: 100%;
	width: 100%;

	opacity: 0.8;
	background:  repeating-radial-gradient( circle at 100% 100%, #0000 0,#fff3 10vw ), repeating-linear-gradient( var(--colorone), var(--colortwo) );

	/*background-image: repeating-radial-gradient(circle at 100% 100%,#0000 0,#fff3 10vw),repeating-linear-gradient(var(--primary-accent),var(--secondary-accent));*/
	background-attachment: fixed;
	transform-origin: bottom right;
	animation: grow 60s infinite alternate;
	transition: --colorone 3s, --colortwo 3s;
}

@keyframes grow{
	0% {
		transform:scale(1)
	}
	50% {
		transform:scale(1.5)
	}
	to
	{
		transform:scale(1)
	}
}

.bg-transition-running {
	-webkit-animation-name: bg-transition;
	animation-name: bg-transition;
	-webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes bg-transition {
	0% {
	   opacity: 0;
	   transform: translate(20px,-20px);
	}
	100% {
	   opacity: 1;
	   transform: translate(0,0);
	}
}

@keyframes keyframes-anim-0-0-18 {
	0% {
	    transform: translateX(-32px) scale(0);
	}
	25% {
	    transform: translateX(16px) scale(1);
	}
	50% {
	    transform: translateX(50px) scale(1);
	}
	75% {
	    transform: translateX(84px) scale(1);
	}
	100% {
	    transform: translateX(32px) scale(0);
	}
}

#header {
	margin: 1.8rem auto 0.2rem auto;
	text-align: center;
	color: white;
}

#header h1 {
	margin-bottom: 4px;
	margin-top: 12px;
	font-weight: bold;
	word-spacing: 3px;
	font-size: 2.5rem;
}

#header p {
	margin-top: -10px;
	display: block;
	font-size: 14px;
	margin-bottom: 0;
}

.nav-wrapper {
	display: flex;
	flex-direction: row;
	margin: 40px 0 27px 0;
}

.nav-wrapper a {
	outline: none;
	border: none;
	background: transparent;
	color: white;
	position: relative;
	margin: 0 7px;
	text-decoration: none;
}

.nav-wrapper a:hover {
	color: white;
}

.nav-wrapper a svg {
	margin-right: 6px;
}

.btn-nav-menu svg {
	margin: 0 5px 0 0;
}

a.btn-nav-menu:hover {
	transform: scaleY(1) !important;
}

a.nav-btn-active::after {
	transform: scaleY(1) !important;
}

.nav-wrapper a::after {
	content: "";
	position: absolute;
	bottom: -.4em;
	left: 0;
	right: 0;
	height: 3px;
	background: white;
	transform: scaleY(0);
	transform-origin: bottom;
	transition: all .3s;
}


#body {
	margin: auto;
	/*flex: 1 0 0;*/
}

#box {
    font-size: 1rem;
	padding: 1.6rem;
	width: 100vw;
	background: white;
	height: 100%;
	border-radius: 13px;
	max-width: 820px;
}

#box div svg {
	color: var(--colorone);
}

.timeline-ul {
	list-style: none;
	padding: 0;
	width: 100%;
}

.timeline-ul li {
	position: relative;
	line-height: 2;
}

.timeline-ul li:hover::before {
	border-color: #403e3e;
	background-color: initial;
}

.timeline-ul li::before {
	content: "";
	position: absolute;
	background-color: #403e3e;
	top: 4px;
	left: 0;
	width: 16px;
	height: 16px;
	border: 3px solid #0000;
	border-radius: 50%;
	transition: all .2s ease-in-out;
}

.timeline-ul li div {
	display: flex;
	padding-left: 2.5em;
}

.timeline-ul li::after {
	display: block;
	top: 25px;
    left: 7px;
	bottom: 0;
	width: 2px;
	content: "";
	position: absolute;
	background-color: #403e3e;
}

.timeline-ul li:nth-child(6):after {
	display: none;
}

#footer {
	margin: auto;
	padding: 1.5rem;
}

#footer div {
	margin: auto;
	display: flex;
	justify-content: center;
	font-size: 1.5rem;
}

#footer div a {
	color: white;
	margin: 0 10px;
	padding: 5px;
}


@keyframes fadeInDown {
	0% {
	   opacity: 0;
	   transform: translateY(-20px);
	}
	100% {
	   opacity: 1;
	   transform: translateY(0);
	}
}

.lazyload {
	opacity: 0;
}

.lazyloading {
	opacity: 0;
	transition: all ease-in-out 1s;
}

.lazyloaded {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
	-webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
}

.animated:nth-child(1) {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated:nth-child(2) {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated:nth-child(3) {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated:nth-child(4) {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated:nth-child(5) {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated:nth-child(6) {
	-webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.highlight {
	background: var(--colortwo);
	color: white;
}

.notes {
    background: #f0f0f0;
    border-left: solid 3px #353535;
    padding: 8px 7px;
    font-size: 14px;
}
 
@-webkit-keyframes fadeInDown {
    0% {
       opacity: 0;
       -webkit-transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateY(0);
    }
}
ul.resources-list li {
	position: relative;
	white-space: nowrap;
	line-height: 2;
	text-align: left;

}

ul.resources-list li span {
	font-size: 11px;
}

ul.resources-list li a {
	color: black;
	border-bottom: solid 2px black;
	text-decoration: none;
}

.container-gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.container-gallery .wrapper {
	width: 30%;
	position: relative;
	height: 30vh;
	overflow: hidden;
	border-radius: 15px;
	margin: 7px 0;
}


.container-gallery .wrapper .image-wrapper {
	width: 100%;
	height: 100%;
}

.container-gallery .wrapper .image-wrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container-gallery .wrapper .caption {
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: 12px;
	text-align: center;
	color: #ececec;
	height: 35px;
	display: flex;
	justify-content: center;
	padding: 0 5px;
	background: #2f2f2fc4;
}

.container-gallery .wrapper .caption p {
	margin: auto 0;
}

.container-gallery .wrapper .caption p a {
	color: white;
	text-decoration: none;
	border-bottom: solid 1px #aeaeae;
}

/*PROJECT INFO CUSTOMIZATION*/
.portofolioinfowrapper {
	background: white;
	margin: 12px 0; 
	border: 1px solid #e1e4e8;
	border-radius: 6px;
}

.portofolioinfowrapper h6 {
	padding: 10px 0px 10px 0px; 
	text-align: left; 
	margin-left: 3vh;
}

.portofolioinfowrapper h3 a {
	float: left;
    margin-left: -23px;
    line-height: 1;
}

.portofolioinfowrapper h3 a img {
	visibility: hidden;
	width: 0.8em;
}

.portofolioinfowrapper h3:hover a img {
	visibility: visible;
}

.portofolioinfowrapper h3 {
	text-align: left;
    margin-left: 1em;
    padding: 10px 20px 10px 0px;
    border-bottom: 1px solid #e1e4e8;
}

.portofolioinfowrapper h5 a {
	float: left;
    margin-left: -23px;
    line-height: 1;
}

.portofolioinfowrapper h5 a img {
	visibility: hidden;
	width: 0.8em;
}

.portofolioinfowrapper h5:hover a img {
	visibility: visible;
}

.portofolioinfowrapper h5 {
	margin-top: 15px;
	text-align: left;
    margin-left: -1px;
    padding: 0px 20px 10px 0px;
    border-bottom: 1px solid #e1e4e8;
}

.portofolioinfowrapper article {
	text-align: left;
    padding: 10px 10px 10px 30px;
}

.side-right-info
{
	position: sticky;
	top: 20px;
	padding: 10px;
}

.button-side-ri
{
	width: 100%;
	margin-bottom: 10px;
}

/*END OF PROJECT INFO*/

.container-blog .wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.container-blog .wrapper .image-wrapper {
	width: 20%;
	display: unset;
}

.container-blog .wrapper .image-wrapper img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container-blog .wrapper .caption a {
	text-decoration: none;
	color: black;
}

#nav-mobile {
	display: none;
}

.nav-mobile-init {
	border: none;
	background: var(--colorone);
	color: white;
	font-size: 28px;
	position: fixed;
	right: -7rem;
	top: 28px;
	width: 176px;
	text-align: left;
	padding: 6px 22px;
	border-radius: 10px;
	z-index: 9;
	display: none;
}

@media screen and (max-width: 760px)
{
	#header {
		margin: 1.5rem 10px 0.2rem 10px;
		text-align: left;
		color: white;
		height: 13vh;
	}

	#header p {
		display: none;
	}

	#header h1 {
		position: absolute;
	}

	.nav-mobile-init {
		display: block;
	}

	.nav-m-active {
		transform: translateX(0%) !important;
	}

	.btn-close-m-nav {
		position: absolute;
	    right: 20px;
	    top: 7px;
	    border: none;
	    background: none;
	    font-size: 40px;
	    height: 45px;
		width: 45px;
	}

	.nav-list {
		display: none;
	}

	@keyframes fadeInLeft {
		0% {
		   opacity: 0;
		   transform: translateX(20px);
		}
		100% {
		   opacity: 1;
		   transform: translateX(0);
		}
	}

	#nav-mobile div a:nth-child(1) {
	    -webkit-animation-duration: .5s;
	    animation-duration: .5s;
	    -webkit-animation-fill-mode: both;
	    animation-fill-mode: both;
	}

	#nav-mobile div a:nth-child(2) {
	    -webkit-animation-duration: .5s;
	    animation-duration: .5s;
	    -webkit-animation-delay: 0.1s;
	    animation-delay: 0.1s;
	    -webkit-animation-fill-mode: both;
	    animation-fill-mode: both;
	}

	#nav-mobile div a:nth-child(3) {
	    -webkit-animation-duration: .5s;
	    animation-duration: .5s;
	    -webkit-animation-delay: 0.2s;
	    animation-delay: 0.2s;
	    -webkit-animation-fill-mode: both;
	    animation-fill-mode: both;
	}

	#nav-mobile div a:nth-child(4) {
	    -webkit-animation-duration: .5s;
	    animation-duration: .5s;
	    -webkit-animation-delay: 0.3s;
	    animation-delay: 0.3s;
	    -webkit-animation-fill-mode: both;
	    animation-fill-mode: both;
	}

	#nav-mobile div a:nth-child(5) {
	    -webkit-animation-duration: .5s;
	    animation-duration: .5s;
	    -webkit-animation-delay: 0.4s;
	    animation-delay: 0.4s;
	    -webkit-animation-fill-mode: both;
	    animation-fill-mode: both;
	}

	#nav-mobile div a:nth-child(6) {
		-webkit-animation-duration: .5s;
	    animation-duration: .5s;
	    -webkit-animation-delay: 0.5s;
	    animation-delay: 0.5s;
	    -webkit-animation-fill-mode: both;
	    animation-fill-mode: both;
	}


	#nav-mobile {
		position: fixed;
		height: 100%;
		background: white;
		width: 100%;
		z-index: 9999;
		display: inline-block;
		transition: all 220ms ease-in-out;
		transform: translateX(100%);
	}

	.nav-list.showed {
		display: flex !important;
	}

	#nav-mobile > div {
		display: none;
		flex-direction: column;
		justify-content: center;
		margin: auto;
		height: 100%;
		text-align: center;
	}

	#nav-mobile > div a {
		margin: 7px 0;
		color: var(--colorone);
		text-decoration: none;
		-webkit-animation-name: fadeInLeft;
		animation-name: fadeInLeft;
	}

	.nav-wrapper {
		display: none;
	}

	#box {
	    width: 94vw;
	}

	.container-gallery .wrapper {
		width: 240px;
		margin: 5px;
	}
	.container-blog .wrapper .image-wrapper {
		display: none;
	}
}